.App {
  border: black solid 1px;
  justify-content: center;
  height: 200px;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.mainDiv{
  width: 100%;
  justify-content: center;
  height: 900px;
  display: flex;
}
.Select {
  height: 60px;
  width: 93%;
  justify-content: center;
  margin-top: 10px;
  margin-left: 14px;
  margin-right: 14px;
}

.box {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 30px;
  width: 50%;
  margin-top: 2%;
}

.box1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 30px;
  width: fit-content;
  margin-top: 2%;
  margin-left: 14%;
}

.selectDiv {
  margin-top: 5%;
  display: flex;
}